/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.card-img-top {
    width: 100%;  /* Ширината на изображението ще е 100% от ширината на картата */
    height: 200px;  /* Фиксирана височина */
    object-fit: cover; /* Това ще оразмери изображението така, че да запълни контейнера без да се изкривява */
}
